* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    height: 2.5rem;;

    border: 0;
    border-bottom: 1px solid #E6E8EB;
}

header span {
    padding: 2rem 4rem;
}